.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container-fluid
      .row-fluid
        .span12
          .span1
            .span1
              %h6 Beta
          .span2
            %a.brand{href: '/'}
              %h3 CivBounty
          .span4.offset4
            .nav-collapse
              - if session[:user_id].nil?
                %ul.nav
                  %li
                    = link_to 'Log in', new_session_path, id: 'log-in'
                    %li{class: "divider-vertical"}
              - else
                %ul.nav
                  %li
                    = link_to 'Create Report', new_report_path, id: 'create-report'
                    %li{class: "divider-vertical"}
                  %li
                    = link_to 'Log out', controller: 'sessions', action: 'delete'
                    %li{class: "divider-vertical"}
                  %li
                    = link_to 'Reports', user_reports_path
                  - if Claim.find_by_hunter_id(session[:user_id]).present?
                    %li{class: "divider-vertical"}
                    %li
                      = link_to 'Claims', user_claims_path
