.row-fluid
  .span12
    .span6.offset2
      .most-wanted-header
        %h2 Most Wanted
      .media.media-most-wanted
        %a{class: "pull-left", href: "/perpetrators/#{@most_wanted.id}/reports"}
          %img{class: "media-object", src: "http://cravatar.tomheinan.com/#{@most_wanted.name}/200"}
        .media-body.media-body-most-wanted
          %h2.media-heading= @most_wanted.name
          %h5= "Max Bounty: #{@most_wanted.max_bounty}d"
          %h5= "Number of Reports: #{@most_wanted.record_count}"
.row-fluid
  .span12
.row-fluid
  .span12
    .span6.offset2.wanted-header
      %h2 Wanted

.row-fluid
  .span12
    #user-nav.span6.offset2.nav.navbar
      %ul(class="nav nav-pills")
        %li.dropdown
          %a.dropdown-toggle(data-toggle="dropdown" href="#")
            Highest Bounty
            %b.caret
          %ul.dropdown-menu
            %li= link_to 'All', root_path(order: :highest_bounty), remote: true, id: "highest_bounty"
            %li= link_to 'with Evidence', root_path(order: :highest_bounty_with_evidence), remote: true, id: "with_evidence"
        %li.dropdown
          %a.dropdown-toggle(data-toggle="dropdown" href="#")
            Most Records
            %b.caret
          %ul.dropdown-menu
            %li= link_to 'All', root_path(order: :most_reports), remote: true, id: "most_reports"
            %li= link_to 'with Evidence', root_path(order: :most_reports_with_evidence), remote: true, id: "most_reports"
        %li.dropdown
          %a.dropdown-toggle(data-toggle="dropdown" href="#")
            Filter by Civilization
            %b.caret
          %ul.dropdown-menu
            - @civs.each do |civ|
              %li.dropdown-submenu
                %a.dropdown-toggle(data-toggle="dropdown disabled" href="#{root_path(evidence: false, civ: civ.to_param)}")
                  = civ.name
                %b.caret
                %ul.dropdown-menu
                  %li= link_to 'with Evidence', root_path(evidence: true, civ: civ.to_param), remote: true
.row-fluid
  .span12
    #page-content
      = render partial: "main/main_content"
