- if @claims.present?
  .row-fluid
    .span8.offset2
      - @claims.each do |c|
        .row-fluid
          .span12.claim
            .span7
              - perp = Perpetrator.find(c.perpetrator_id)
              %h4.claim-header= link_to "Capture Claim: #{perp.name}", perpetrator_reports_path(perp)
            - if c.evidence_links.present?
              .span5.claim-nav
                %ul.nav.nav-pills
                  - c.evidence_links.each do |link|
                    %li= link_to "Proof", link.link_text
            .description
              .well.well-small
              %p= c.description
              %p.timestamp= "claim created #{time_ago_in_words(c.created_at)} ago"
- if @expired_claims.present?
  .row-fluid.expired
    .span12
      %h1 EXPIRED CAPTURE CLAIMS
  - @expired_claims.each do |c|
    .row-fluid.expired
      .span12.claim
        .span7
          - user = User.where(id: c.hunter_id).first
          %h4.claim-header Capture Claim filed by #{user.username}
        - if c.evidence_links.present?
          .span5.claim-nav
            %ul.nav.nav-pills
              - c.evidence_links.each do |link|
                %li= link_to "Proof", link.link_text
        .description
          .well.well-small
          %p= c.description
          %p.timestamp= "claim created #{time_ago_in_words(c.created_at)} ago"
