.row-fluid.span12
  .span6.offset2.form
    %h4 Verify Minecraft Account
    %ol
      #verification_link
        %li
          %p Save your current skin #{link_to 'here', 'http://www.mcskinsearch.com/'}
      #verification_link
        %li
          %p #{link_to 'Click Here', 'https://minecraft.net/profile/skin/remote?url=http://www.civbounty.com/verification_skin.png'} to upload the verification skin
      %li
        = form_for(@user, url: verification_path(@user))do |form|
          = form.label :minecraft_name, 'Minecraft username'
          = form.text_field :minecraft_name, class: "popover_help", placeholder: "CaSe SeNsItIvE!", data: {title: "Minecraft Username", content: "This is case sensitive!"}
          = form.submit "Verify", class: 'btn btn-primary'
