.row-fluid
  .span12
    .span10.offset2
      = form_for @report do |form|
        = form.label :evidence
        = form.text_area :evidence, size: "60x12", value: "Description of what happened and links to evidence, better formatting coming soon."
        = form.label :bounty
        = form.text_field :bounty
        = form.label :new_perpetrator, 'Perpetrator'
        = form.text_field :new_perpetrator
        = form.select :perpetrator_id, Perpetrator.all.map { |p| [p.name, p.id] }.unshift(['not listed', nil])
        .row-fluid
          .span12
          %h6 Optional Information
          = form.label :location, 'City, or nearest city'
          = form.text_field :location
          = form.label :time, 'Time / Time Zone'
          = form.text_field :time
          %h6 Exact Location if available
          = form.label :x_coord
          = form.text_field :x_coord
          = form.label :y_coord
          = form.text_field :y_coord
        .row-fluid
          .span12
          = form.submit
