.row-fluid
  .span12
    .span6.offset2.form
      %h4 Required Information
      = form_for @report do |form|
        .form-required
          = form.label :perpetrator_name, 'Perpetrator'
          = form.text_field :perpetrator_name, placeholder: "CaSe SeNsItIvE!!!!", autocomplete: :off, class: "popover_help", data: { title: "Perpetrator Help", content: "If the perpetrator already exists you may TAB complete and/or use the arrow keys to select the perp and hit enter. If not just type in a new one and it will be created.", provide: "typeahead", source: Perpetrator.all.map(&:name).to_json}
          = form.label :description
          = form.text_area :description, style: "width:500px", size: "50x15", 
            placeholder: "Description of incident, the more details, the better", class: "popover_help", data: {title: "Description Help", content: "This box is markdown enabled. Links are disabled. If you have links, add them in Evidence Links below." }
          = form.label :bounty, "Bounty"
          = form.text_field :bounty, class: "popover_help", data: {title: "Bounty Help", content: "Enter amount in diamonds. Even if zero your reports are still useful!"}
        .row-fluid
          .span12
            %h4 Optional Information
        .row-fluid
          .span12.form-optional
            .form-hortizontal
              - @report.evidence_links.each do |link|
                = form.fields_for :evidence_links, link do |link_form|
                  .row-fluid
                    #evidence_field.span3
                      = link_form.label :link_text, "Evidence Link"
                      = link_form.text_field :link_text, placeholder: "http://www.imgur.com"
                    .span4.form-checkbox
                      = link_form.check_box :_destroy
                      = link_form.label :_destroy, "Remove Link"
              .control-group
                .control-label
                  = form.label :civilization_name, 'Your Civilization'
                .controls
                  = form.text_field :civilization_name, placeholder: "CaSe SeNsItIvE!!!!", autocomplete: :off, class: "popover_help", data: { title: "Civilization Help", content: "This will autocomplete the same as Perpetrator. This is for your civilization so that leaders/fellow citizens/hunters can track reports by civ.", provide: "typeahead", source: Civilization.all.map(&:name).to_json}
              .control-group
                .control-label
                  = form.label :location, 'Location of Crime (City, Nearest City or Name of Area)'
                .controls
                  = form.text_field :location
          .row-fluid
            .span12
              %h4 Exact Location if available
          .row-fluid
            .span12.form-optional
              .control-group
                .control-label
                  = form.label :x_coord
                .controls
                  = form.text_field :x_coord
              .control-group
                .control-label
                  = form.label :y_coord
                .controls
                  = form.text_field :y_coord
        .row-fluid
          .span12.form-submit
            = form.submit 'File Report'
