.row-fluid
  .span12
    .span12.offset2
      = form_for @report do |form|
        = form.label :perpetrator_name, 'Perpetrator'
        = form.text_field :perpetrator_name, placeholder: "create new or select ---->"
        = form.select :perpetrator_id, Perpetrator.all.map { |p| [p.name, p.id] }.unshift(['not listed', nil])
        = form.label :description
        = form.text_area :description, size: "15x15", placeholder: "Description of incident *required"
        = form.label :bounty, "Bounty (Diamonds)"
        = form.text_field :bounty
        .row-fluid
          .span12
            %h6 Optional Information
            .form-hortizontal
              - @report.evidence_links.each do |link|
                = form.fields_for :evidence_links, link do |link_form|
                  = link_form.label :link_text, "Evidence Link"
                  = link_form.text_field :link_text
                  = link_form.check_box :_destroy
                  = link_form.label :_destroy, "Remove Link"
              .control-group
                .control-label
                  = form.label :civilization_name, 'Your Civilization'
                .controls
                  = form.text_field :civilization_name, placeholder: "create new or select ---->"
                  = form.select :civilization_id, Civilization.all.map { |c| [c.name, c.id] }.unshift(['not listed', nil])
              .control-group
                .control-label
                  = form.label :location, 'Location of Crime (City, Nearest City or Name of Area)'
                .controls
                  = form.text_field :location
              %h6 Exact Location if available
              .control-group
                .control-label
                  = form.label :x_coord
                .controls
                  = form.text_field :x_coord
              .control-group
                .control-label
                  = form.label :y_coord
                .controls
                  = form.text_field :y_coord
        .row-fluid
          .span12
            = form.submit
